#title{
    background-color: #f0ebcc;
}
hr{
    border-style: solid none none none;
    width: 10%;
    border-width: 5px;
    border-color: #f4623a;
}
h1{
    font-family: 'Merriweather Sans', sans-serif Impact;
    font-weight: 800;
    text-align: center;
    line-height: 1.5;
    font-size: 4.5rem;
}
@media screen and (max-width:1024px){
    h1{
        font-size:4rem;
    }
}
h2{
    font-family: 'Merriweather Sans', sans-serif Impact;
    font-weight: 500;
    line-height: 1.5;
}
h3{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}
h4{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
   
}
p{
    line-height: 2.0;
}
.fa-mug-hot{
    font-size: 3rem;
    color: #91684a;
}
.fa-mug-hot:hover{
    color: #c39e5c;
}
.button,p{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   text-align: center;
}

a{
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-weight: bold;
   font-size: 1rem; 
}

#button-specifics{
    background-color: #f4623a;
    border-radius: 5rem;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    transition-duration: 0.4s;
}
#button-specific:hover{
    background-color: white;
}
@media screen and (width:1024px){
    #button-specifics{
        background-color: #f4623a;
        border-radius: 5rem;
        font-weight: bold;
        font-size: small;
        padding: 15px 0px 15px 0px;
        transition-duration: 0.4s;
    }
    #button-specific:hover{
        background-color: white;
    }
}

.title-row{
    margin:6rem 0 6rem 0;
    padding: 5rem 0 5rem 0;
}
.button-row{
    padding-top: 1.5rem;
}
.container-fluid{
    padding : 3% 15% 2%;
    padding-bottom: 5%;
}
.navbar-brand{
    padding-left: 1rem;
}
.navbar{
    background: #f0ebcc !important;
    padding:2rem 11rem 2rem 11rem;
}
/*this is the class responsible for change during scrolling*/
/* .navbar.scrolled{
    background-color: #f4623a !important;
} */
@media screen and (width:1440px){
    .navbarnavbar {
        padding: 2rem 15rem 2rem 15rem;
    }
}
.second{
    text-align: center;
    background-color: #f4623a;
    padding: 10% 5% 10% 5%;
    color: #fff;
}
.second h2{
    padding-bottom: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif Impact;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1ch;
}
.second h4{
    padding: 1.5rem;
    line-height: 2rem;
}
.second #button-about{
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    transition-duration: 0.4s;
}
.second #button-about:hover{
    background-color: #efdfbf;
}
.second-hr{
    border-style: solid none none none;
    width: 5%;
    border-width: 5px;
    border-color: #fff;
}
/* #features{
    /* background-color: #f0ebcc; */
    
#features{
    text-align: center;
    padding: 6rem 0 0 0;
    background-color: white;
    /* position:relative; */
}
#features i{
    color: #91684a;
    font-size: 3rem;
}
#features h4{
    font-weight: bold;
    padding: 1rem;
    font-size: 1.3rem;
}
#features p{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   line-height: normal
}
#workspace .container-fluid{
    padding: 5% 0 0%;
}
#cta{
    background-color: #f4623a;
    padding: 10% 5% 10% 5%;
    color: #fff;
    text-align: center;
}
#cta h3{
    font-family: 'Merriweather Sans', sans-serif Impact;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.05ch;
    padding-bottom: 1.5rem;
}

#cta i{
    color: #fff;
    font-size: 3rem;
    padding-top: 1rem;
}
#cta h4{
    padding: 1.5rem;
    line-height: 2rem;
}
.cta-row{
    padding:0 2rem 0;
}
#footer{
    background-color: #f0ebcc;
}
#footer h4{
    font-family: 'Merriweather Sans', sans-serif Impact;  
    font-weight: 200 bold;
    text-align: center;
}
#footer .container-fluid{
    padding:3%;
}
/*
    Headings 
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

    Not-Headings 
    font-family: 'Fira Sans', sans-serif;
*/